body {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-variation-settings:
    "wdth" 100;
    
    background-color: #f5f0e8;

    height: 100%;
    margin-top: 100px;

    /* Center the elements in the body */
    display: flex;
    justify-content: center;
    align-items: center;
}

/* H1 Text are large and underlined */
h1 {
    font-size: 50px;
    text-decoration: underline;
}

/* The main segment is a centered card */
main {
    background-color: #FFFBFF;
    border-radius: 20px;
    width: 75%;
    text-align: center;
    padding-bottom: 20px;

    filter: drop-shadow(rgba(41, 40, 37, 0.2) -5px 5px);
    
}


/* Aligns the grid to contain 3 columns */
.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);  /* Suggested by ChatGPT - creates a 3-Column box */
    gap: 20px;
}

